@model IEnumerable<WeAreNotGoodFoodVerCore2.Models.Restaurant>

@{
    ViewData["Title"] = "Index";
}

<h2 style="color: darkslategrey">Все заведения</h2>

<p>
    <a asp-action="Create" style="color: darkcyan">Добавить заведение</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th style="width: 20%; color: darkgray">Ресторана/Кафе</th>
        <th style="width: 60%; color: darkgray">Вид</th>
        <th style="width: 20%; color: darkgray">О заведении</th>
        <th style="width: 5%; color: darkgray">Владелец</th>
        <th style="width: 5%; color: darkgray">Редактирование</th>
               
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                <h4 style="color: darkslategrey"> @Html.DisplayFor(modelItem => item.Name)</h4>
            </td>
            <td>
                <img src="~/@item.ImagesRestaurant" width="700" height="450" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" style="color: cadetblue">Edit</a> <br />
                <a asp-action="Details" asp-route-id="@item.Id" style="color: cadetblue">Details</a> <br />
                <a asp-action="Delete" asp-route-id="@item.Id" style="color: cadetblue">Delete</a> <br />
            </td>
        </tr>
    }
    </tbody>
</table>

@Html.Partial("_DetailsPartial")
