@model Dish

<tr>
    <td>
        <h4 style="color: darkslategrey">@Html.DisplayFor(modelItem => Model.NameDish)</h4>
    </td>
    <td>
        <img src="~/@Model.ImagesDish" width="550" height="350" />
    </td>
    <td>
        <h4 style="color: brown">@Html.DisplayFor(modelItem => Model.Price) .com</h4>
    </td>
    <td>
        <h4 style="color: darkgray">@Html.DisplayFor(modelItem => Model.Description) </h4>
    </td>
    <td>
        <h4 style="color: darkslategrey">@Html.DisplayFor(modelItem => Model.Restaurant.Name)</h4>
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@Model.Id" style="color: cadetblue">Edit</a> <br />
        <a asp-action="Details" asp-route-id="@Model.Id" style="color: cadetblue">Details</a> <br />
        <a asp-action="Delete" asp-route-id="@Model.Id" style="color: cadetblue">Delete</a> <br />
    </td>
</tr>
